{% extends 'dashboard/layout/base.html' %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Input /</span> {{ details['pageName'] }}</h4>
    <div class="col-12">
        <div class="card mb-4">
            <form action="" method="POST">
                <h5 class="card-header">Tambah {{ details['pageName'] }}</h5>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Tanggal</label>
                        <input name="date" type="date" class="form-control" id="exampleFormControlInput1" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1" class="form-label">Jenis Transaksi</label>
                        <select name="akunid" class="form-select" id="exampleFormControlSelect1"
                            aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            {% for akun in details['akuns'] %}
                            <option value="{{ akun.id }}">{{ akun.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if details['pageName'] != "Biaya" %}
                    <div class="mb-3">
                        <label for="exampleFormControlReadOnlyInput1" class="form-label">Keterangan</label>
                        <input name="keterangan" class="form-control" type="text" id="exampleFormControlReadOnlyInput1"
                            placeholder="" />
                    </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="exampleFormControlReadOnlyInput1" class="form-label">Harga</label>
                        <input name="amount" class="form-control" type="text" id="exampleFormControlReadOnlyInput1"
                            placeholder="0" />
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Bordered Table -->
    <div class="card">
        <h5 class="card-header">Bordered Table</h5>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="text-center" colspan="3">
                                <h4>{{ details['pageName'] }}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Total {{ details['pageName'] }} <br> Rp. {{ details['tot']|ribuan }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>Jenis Transaksi</th>
                            {% if details['pageName'] != "Biaya" %}
                            <th>Keterangan</th>
                            {% endif %}
                            <th>Jumlah</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in details['transactions'] %}
                        <tr>
                            <td>{{ transaction.createdAt|tanggal }}</td>
                            <td>{{ transaction.akunName }}</td>
                            {% if details['pageName'] != "Biaya" %}
                            <td>{{ transaction.keterangan }}</td>
                            {% endif %}
                            <td>{{ transaction.amount|ribuan }}</td>
                            <td>
                                <div class="dropdown">
                                    {% if details['pageName'] != "Biaya" %}
                                    <form action="/dashboard/input-kas/delete" method="POST">
                                        {% else %}
                                        <form action="/dashboard/input-biaya/delete" method="POST">
                                            {% endif %}
                                            <input name="id" type="hidden" value="{{ transaction.id }}">
                                            <input type="submit" value="Delete">
                                        </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/ Bordered Table -->
</div>

{% endblock %}