{% extends 'dashboard/layout/base.html' %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Input /</span> {{ details['pageName'] }}</h4>
    <div class="col-12">
        <div class="card mb-4">
            <form action="" method="POST">
                <h5 class="card-header">Tambah Pembelian</h5>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Tanggal</label>
                        <input name="date" type="date" class="form-control" id="exampleFormControlInput1" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1" class="form-label">Jenis Pembelian</label>
                        <select name="akunid" class="form-select" id="exampleFormControlSelect1"
                            aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            {% for akun in details['akuns'] %}
                            <option value="{{ akun.id }}">{{ akun.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlReadOnlyInput1" class="form-label">Produk</label>
                        <input name="keterangan" class="form-control" type="text" id="exampleFormControlReadOnlyInput1"
                            placeholder="Nama Produk" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlReadOnlyInput1" class="form-label">Qty</label>
                        <input name="qty" class="form-control" type="text" id="exampleFormControlReadOnlyInput1"
                            placeholder="0" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlReadOnlyInput1" class="form-label">Harga</label>
                        <input name="price" class="form-control" type="text" id="exampleFormControlReadOnlyInput1"
                            placeholder="0" />
                    </div>
                    <div class="mb-3">
                        <div class="form-check mt-3 ">
                            <input name="paid" class="form-check-input" type="radio" value="yes" id="defaultRadio1"
                                checked />
                            <label class="form-check-label" for="defaultRadio1"> Tunai </label>
                        </div>
                        <div class="form-check">
                            <input name="paid" class="form-check-input" type="radio" value="no" id="defaultRadio2" />
                            <label class="form-check-label" for="defaultRadio2"> Utang </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Bordered Table -->
    <div class="card">
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="text-center" colspan="3">
                                <h4>Total Pembelian</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>Total Pembelian <br> Rp. {{ tot['pembelian']|ribuan }}</td>
                            <td>Tunai <br> Rp. {{ tot['tunai']|ribuan }}</td>
                            <td>Piutang <br> Rp. {{ tot['piutang']|ribuan }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>Jenis Pembelian</th>
                            <th>Produk</th>
                            <th>Qty</th>
                            <th>Harga</th>
                            <th>Total Harga</th>
                            <th>Dibayar</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in details['transactions'] %}
                        <tr>
                            <td>{{ transaction.createdAt|tanggal }}</td>
                            <td>{{ transaction.akunName }}</td>
                            <td>{{ transaction.keterangan }}</td>
                            <td>{{ transaction.qty }}</td>
                            <td>{{ transaction.price|ribuan }}</td>
                            <td>{{ transaction.amount|ribuan }}</td>
                            <td>{% if transaction.paid == 'no' %}
                                Utang
                                {% else %}
                                Cash
                                {% endif %}</td>
                            <td>
                                <div class="dropdown">
                                    <form action="/dashboard/input-pembelian/delete" method="POST">
                                        <input name="id" type="hidden" value="{{ transaction.id }}">
                                        <input type="submit" value="Delete">
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/ Bordered Table -->
</div>

{% endblock %}