<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Kopi Cening<small>Jaya</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="{{ url_for('home') }}#home" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('home') }}#story" class="nav-link">Story</a></li>
                <li class="nav-item"><a href="{{ url_for('home') }}#product" class="nav-link">Product</a></li>
                <li class="nav-item"><a href="{{ url_for('home') }}#about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="{{ url_for('home') }}#contact" class="nav-link">Contact</a></li>
                <li class="nav-item cart"><a href="{{ url_for('cart') }}" class="nav-link"><span
                            class="icon icon-shopping_cart"></span><span
                            class="bag d-flex justify-content-center align-items-center"><small>1</small></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->