{% extends 'dashboard/layout/base.html' %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> Neraca</h4>
    <!-- Bordered Table -->
    <div class="card">
        <h5 class="card-header">Neraca</h5>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td class="fw-bold">Aktiva</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Kas</td>
                            <td>Rp. {{ details['kas']|ribuan }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Piutang</td>
                            <td>Rp. {{ details['piutang']|ribuan }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Persediaan Barang Dagang</td>
                            <td>Rp. {{ details['piutang']|ribuan }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Perlengkapan</td>
                            <td>Rp. {{ details['perlengkapan']|ribuan }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Peralatan</td>
                            <td>Rp. {{ details['peralatan']|ribuan }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Aset Lain</td>
                            <td>Rp. {{ details['asetLain']|ribuan }}</td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Jumlah Aktiva</td>
                            <td></td>
                            <td>Rp. {{ details['jumlahAktiva']|ribuan }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Pasiva</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Modal</td>
                            <td>Rp. {{ details['modal']|ribuan }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Hutang</td>
                            <td>Rp. {{ details['hutang']|ribuan }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Pendapatan</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> Profit sekarang</td>
                            <td>Rp. {{ details['profit']|ribuan }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Jumlah Pasiva</td>
                            <td></td>
                            <td>Rp. {{ details['newJumlahPasiva']|ribuan }}</td>
                            <td>Rp. {{ details['jumlahPasiva']|ribuan }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}