{% extends 'dashboard/layout/base.html' %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> Hutang</h4>

    <div class="row">
        <!-- Bordered Table -->
        <div class="card col-md-6">
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-center" colspan="3">
                                    <h4>Hutang Suplier</h2>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">Total Hutang Suplier <br> Rp. {{
                                    details['totHutangSuplier']|ribuan
                                    }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tanggal</th>
                                <th>Ref</th>
                                <th>Keterangan</th>
                                <th>Jumlah</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hs in details['hutangSuplier'] %}
                            <tr>
                                <td>{{ hs.createdAt|tanggal }}</td>
                                <td>Kas</td>
                                <td>{{ hs.keterangan }}</td>
                                <td>{{ hs.amount|ribuan }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Bordered Table -->
        <div class="card col-md-6">
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-center" colspan="3">
                                    <h4>Hutang Bisnis</h2>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">Total Hutang Bisnis <br> Rp. {{
                                    details['totHutangBisnis']|ribuan
                                    }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tanggal</th>
                                <th>Ref</th>
                                <th>Keterangan</th>
                                <th>Jumlah</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hb in details['hutangBisnis'] %}
                            <tr>
                                <td>{{ hb.createdAt|tanggal }}</td>
                                <td>Kas</td>
                                <td>{{ hb.keterangan }}</td>
                                <td>{{ hb.amount|ribuan }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}