{% extends 'dashboard/layout/base.html' %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> Inventory</h4>

    <!-- Bordered Table -->
    <div class="card">
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="text-center" colspan="3">
                                <h4>Inventory</h2>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Total Inventory <br> Rp. {{ tot|ribuan }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Kuantitas</th>
                            <th>Harga Awal</th>
                            <th>Harga Jual</th>
                            <th>Jumlah</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in products %}
                        <tr>
                            <td>{{ p.title }}</td>
                            <td>{{ p.stock }}</td>
                            <td>{{ p.priceBase|ribuan }}</td>
                            <td>{{ p.price|ribuan }}</td>
                            <td>{{ (p.priceBase * p.stock)|ribuan }}</td>
                            <td>
                                <div class="col-lg-4 col-md-6">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#basicModal{{ p.id }}">
                                        Edit
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="basicModal{{ p.id }}" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel1">Edit {{ p.title }}
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <form action="" method="POST">
                                                    <input name="id" type="hidden" value="{{ p.id }}">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col mb-3">
                                                                <label for="nameBasic"
                                                                    class="form-label">Kuantitas</label>
                                                                <input name="qty" type="text" id="kuantitas"
                                                                    class="form-control" placeholder="0"
                                                                    value="{{ p.stock }}" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col mb-3">
                                                                <label for="nameBasic" class="form-label">Harga
                                                                    Awal</label>
                                                                <input name="hrgawal" type="text" id="hrgawal"
                                                                    class="form-control" placeholder="0"
                                                                    value="{{ p.priceBase }}" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col mb-3">
                                                                <label for="nameBasic" class="form-label">Harga
                                                                    Akhir</label>
                                                                <input name="hrgakhir" type="text" id="hrgakhir"
                                                                    class="form-control" placeholder="0"
                                                                    value="{{ p.price }}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-secondary"
                                                            data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Save
                                                            changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="fw-bold" colspan="4">TOTAL</td>
                            <td class="fw-bold">Rp. {{ tot|ribuan }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--/ Bordered Table -->

{% endblock %}