{% extends 'dashboard/layout/base.html' %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> {{ judul }}</h4>

    <!-- Bordered Table -->
    <div class="card">
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="text-center" colspan="3">
                                <h4>{{ judul }}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Total {{ judul }} <br> Rp. {{ total|ribuan }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>Ref</th>
                            <th>Keterangan</th>
                            <th>Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ saldoAwal['date'] }}</td>
                            <td>{{ saldoAwal['ref'] }}</td>
                            <td>{{ saldoAwal['keterangan'] }}</td>
                            <td>{{ saldoAwal['amount']|ribuan }}</td>
                        </tr>
                        {% for tr in kasFlow %}
                        <tr>
                            <td>{{ tr['date']|tanggal }}</td>
                            <td>{{ tr['ref'] }}</td>
                            <td>{{ tr['keterangan'] }}</td>
                            <td>{{ tr['amount']|ribuan }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--/ Bordered Table -->

{% endblock %}