{% extends 'dashboard/layout/base.html' %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> {{ judul }}</h4>

    <!-- Bordered Table -->
    <div class="card">
        <h5 class="card-header">{{ judul }}</h5>
        <div class="card-body">
            <p class="text-end fw-bold">Total {{ judul }}: {{ total }}</p>
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>Keterangan</th>
                            <th>Kuantitas</th>
                            <th>Harga</th>
                            <th>Total Harga</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tr in transactions %}
                        <tr>
                            <td>{{ tr.createdAt }}</td>
                            <td>{{ tr.keterangan }}</td>
                            <td>{{ tr.qty }}</td>
                            <td>{{ tr.price|ribuan }}</td>
                            <td>{{ tr.amount|ribuan }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--/ Bordered Table -->

{% endblock %}