{% extends 'ecommerce/layout/base.html' %}

{% block content %}
<section class="home-slider owl-carousel">

	<div class="slider-item" style="background-image: url({{ url_for('static', filename='images/bg_3.jpg') }});"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center">

				<div class="col-md-7 col-sm-12 text-center ftco-animate">
					<h1 class="mb-3 mt-5 bread">Cart</h1>
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>Product</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							{% set totCO = namespace(value=0) %}
							{% for item in items %}
							<tr class="text-center">

								<form action="/delete-cart/{{ item.id }}" method="post">
									<td class="product-remove"><button class="btn btn-outline-primary" type="submit"
											href="#"><span class="icon-close"></span></button></td>
								</form>
								<td class="image-prod">
									<div class="img" style="background-image:url({{ item['img'] }});">
									</div>
								</td>

								<td class="product-name">
									<h3>{{ item['title'] }}</h3>
									<p>Far far away, behind the word mountains, far from the countries</p>
								</td>

								<td class="price" id="harga-{{ item.id }}">{{ item['harga'] }}</td>

								<td class=" quantity">
									<div class="input-group mb-3">
										<button onclick="updateTotal('-', '{{ item.id }}' )" type="button"
											class="btn btn-primary btn-outline-primary py-2 px-4 rounded-l-full">-</button>
										<span class="form-control py-2 px-4" id="product-qty-{{ item.id }}">{{
											item['jumlah']
											}}</span>
										<button onclick="updateTotal('+', '{{ item.id }}')" type="button"
											class="btn btn-primary btn-outline-primary py-2 px-4 rounded-r-full">+</button>
									</div>
								</td>

								<td class="total cart-item-total" id="tharga-{{ item.id }}">{{ item['total'] }}</td>
								{% set totCO.value = totCO.value + item['total'] %}
							</tr><!-- END TR-->
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col col-lg-3 col-md-6 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Cart Totals</h3>
					<p class="d-flex">
						<span>Subtotal</span>
						<span id="totalPriceShow">Rp. </span>
					</p>
					<p class="d-flex">
						<span>Delivery</span>
						<span>Free</span>
					</p>
					<hr>
					<p class="d-flex total-price">
						<span>Total</span>
						<span id="totalPriceShow2">$17.60</span>
					</p>
				</div>
				<form action="/checkout" method="POST">
					<input name="ftotal" id="totalPrice" type="hidden" value="0">

					<p class="text-center"><input type="submit" class="btn btn-primary py-3 px-4">Proceed to
						Checkout</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</section>
<script>
	console.log("test")
	cartItemTotals = document.querySelectorAll(".cart-item-total");
	console.log(cartItemTotals.innerHTML)
	total = 0;
	cartItemTotals.forEach(function (item) {
		total += parseInt(item.innerHTML)
	});
	// console.log(total);
	totalPrice = document.getElementById("totalPrice");
	totalPrice.value = total;
	document.getElementById("totalPriceShow").innerHTML = "Rp. " + total;
	document.getElementById("totalPriceShow2").innerHTML = "Rp. " + total;

	function updateTotal(method, ID) {
		totalNow = document.getElementById("product-qty-" + ID).innerHTML;
		if (method == "+") {
			total = document.getElementById("product-qty-" + ID);
			total.innerHTML = parseInt(totalNow) + 1;
		} else {
			if (totalNow != "1") {
				total = document.getElementById("product-qty-" + ID);
				total.innerHTML = parseInt(totalNow) - 1;
			}
		}
		totalHarga = document.getElementById("tharga-" + ID);
		harga = document.getElementById("harga-" + ID).innerHTML;
		totalHarga.innerHTML = parseInt(total.innerHTML) * parseInt(harga)
		// console.log(parseInt(total.innerHTML),parseInt(harga))

		console.log("test")
		cartItemTotals = document.querySelectorAll(".cart-item-total");
		total = 0;
		cartItemTotals.forEach(function (item) {
			// console.log(item.innerHTML)
			total += parseInt(item.innerHTML)
		});
		console.log(total);
		totalPrice = document.getElementById("totalPrice");
		totalPrice.value = total;
		document.getElementById("totalPriceShow").innerHTML = "Rp. " + total;
		document.getElementById("totalPriceShow2").innerHTML = "Rp. " + total;
	}
</script>
{% endblock %}