{% extends 'ecommerce/layout/base.html' %}

{% block content %}

<section class="home-slider owl-carousel">

  <div class="slider-item" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">

        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-3 mt-5 bread">Checkout</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checout</span></p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <form action="/checkout/success" method="POST">
        <div class="col-xl-8 ftco-animate">
          <div class="billing-form ftco-bg-dark p-3 p-md-5">
            <h3 class="mb-4 billing-heading">Billing Details</h3>
            <div class="row align-items-end">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstname">Nama</label>
                  <input name="fname" type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="streetaddress">Alamat</label>
                  <input name="faddress" type="text" class="form-control" placeholder="House number and street name">
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input name="fphone" type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="emailaddress">Email Address</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="w-100"></div>
            </div>
          </div><!-- END -->



          <div class="row mt-5 pt-3 d-flex">
            <div class="col-md-6 d-flex">
              <div class="cart-detail cart-total ftco-bg-dark p-3 p-md-4">
                <h3 class="billing-heading mb-4">Cart Total</h3>
                <p class="d-flex">
                  <span>Subtotal</span>
                  <span>Rp. {{ total }}</span>
                </p>
                <p class="d-flex">
                  <span>Delivery</span>
                  <span>Free</span>
                </p>
                <hr>
                <p class="d-flex total-price">
                  <span>Total</span>
                  <span>Rp. {{ total }}</span>
                  <input type="hidden" name="ftotal" value="{{ total }}">
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="cart-detail ftco-bg-dark p-3 p-md-4">
                <h3 class="billing-heading mb-4">Payment Method</h3>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="optradio" class="mr-2"> COD (Cash on Delivery)</label>
                    </div>
                  </div>
                </div>
                <p><input type="submit" href="#" class="btn btn-primary py-3 px-4" value="Place an order"></p>
              </div>
            </div>
          </div>
        </div> <!-- .col-md-8 -->
      </form>
    </div>
  </div>
</section> <!-- .section -->

{% endblock %}