{% extends 'ecommerce/layout/base.html' %}

{% block content %}
<section class="home-slider owl-carousel" id="home">
	<div class="slider-item" style="background-image: url({{ url_for('static', filename='images/bg_1.jpg') }});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

				<div class="col-md-8 col-sm-12 text-center ftco-animate">
					<span class="subheading">Welcome</span>
					<h1 class="mb-4">Kopi Pilihan Yang Terbaik</h1>
					<p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the
						necessary regelialia.</p>
					<p><a href="#product" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="ftco-intro">
	<div class="container-wrap">
		<div class="wrap d-md-flex align-items-xl-end">
			<div class="info">
				<div class="row no-gutters">
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-phone"></span></div>
						<div class="text">
							<h3>000 (123) 456 7890</h3>
							<p>A small river named Duden flows by their place and supplies.</p>
						</div>
					</div>
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-my_location"></span></div>
						<div class="text">
							<h3>Jalan Pramuka 129</h3>
							<p>Gentan Kidul, Kauman, Boja, Kec. Boja, Kabupaten Kendal, Jawa Tengah
								5138</p>
						</div>
					</div>
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-clock-o"></span></div>
						<div class="text">
							<h3>Open Monday-Friday</h3>
							<p>8:00am - 9:00pm</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="ftco-about d-md-flex" id="story">
	<div class="one-half img" style="background-image: url({{ url_for('static', filename='images/about.jpg') }});">
	</div>
	<div class="one-half ftco-animate">
		<div class="overlap">
			<div class="heading-section ftco-animate ">
				<span class="subheading">Discover</span>
				<h2 class="mb-4">Our Story</h2>
			</div>
			<div>
				<p>Di keheningan perkebunan di lereng gunung yang megah, Kopi Cening Jaya tumbuh dengan sejuta kisah.
					Setiap butir biji kopi adalah bagian dari petualangan panjang dari tanah subur hingga menciptakan
					kelezatan di setiap cangkir. Di bawah langit yang dipenuhi dengan aroma kopi yang memikat, kami,
					dengan penuh kasih, meramu setiap biji dengan sentuhan tangan penuh keahlian. Kopi Cening Jaya bukan
					sekadar minuman, tapi persembahan dari bumi yang memberi, menyatu dalam setiap hela nafas senja.
					Selamat menikmati detik-detik ajaib yang kami simpan dalam setiap serbuk kopi ini, cerita alam yang
					terukir dalam setiap tegukan.</p>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-services">
	<div class="container">
		<div class="row">
			<div class="col-md-4 ftco-animate">
				<div class="media d-block text-center block-6 services">
					<div class="icon d-flex justify-content-center align-items-center mb-5">
						<span class="flaticon-choices"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Easy to Order</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
							unorthographic.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="media d-block text-center block-6 services">
					<div class="icon d-flex justify-content-center align-items-center mb-5">
						<span class="flaticon-delivery-truck"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Fastest Delivery</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
							unorthographic.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 ftco-animate">
				<div class="media d-block text-center block-6 services">
					<div class="icon d-flex justify-content-center align-items-center mb-5">
						<span class="flaticon-coffee-bean"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Quality Coffee</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost
							unorthographic.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="ftco-section" id="product">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<span class="subheading">Discover</span>
				<h2 class="mb-4">Best Coffee Sellers</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
					live the blind texts.</p>
			</div>
		</div>
		<div class="row justify-content-center">
			{% for p in products %}
			{% if p.stock > 1 %}
			<div class="col-md-3">
				<form action="/cart" method="post">
					<input type="hidden" name="fid" value="{{ p.id }}">
					<input type="hidden" name="fimg" value="{{ p.image }}">
					<input type="hidden" name="ftitle" value="{{ p.title }}">
					<input type="hidden" name="fjumlah" value="1">
					<input type="hidden" name="fharga" value="{{ p.price }}">


					<div class="menu-entry">
						<a href="#" class="img"
							style="background-image: url({{ url_for('static', filename='uploads/'+ p.image) }});"></a>
						<div class="text text-center pt-4">
							<h3><a href="#">{{ p.title }}</a></h3>
							<p>A small river named Duden flows by their place and supplies</p>
							<p class="price"><span>Rp. {{ p.price }}</span></p>
							<p><input type="submit" class="btn btn-primary btn-outline-primary" value="Add to Cart"></a>
							</p>
						</div>
					</div>
				</form>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</section>

<section class="ftco-gallery">
	<div class="container-wrap">
		<div class="row no-gutters">
			<div class="col-md-3 ftco-animate">
				<a href="gallery.html" class="gallery img d-flex align-items-center"
					style="background-image: url({{ url_for('static', filename='images/gallery-1.jpg') }});">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-search"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="gallery.html" class="gallery img d-flex align-items-center"
					style="background-image: url({{ url_for('static', filename='images/gallery-2.jpg') }});">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-search"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="gallery.html" class="gallery img d-flex align-items-center"
					style="background-image: url({{ url_for('static', filename='images/gallery-3.jpg') }});">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-search"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="gallery.html" class="gallery img d-flex align-items-center"
					style="background-image: url({{ url_for('static', filename='images/gallery-4.jpg') }});">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-search"></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section img" id="ftco-testimony" style="background-image: url(images/bg_1.jpg);"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Testimony</span>
				<h2 class="mb-4">Customers Says</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
					live the blind texts.</p>
			</div>
		</div>
	</div>
	<div class="container-wrap">
		<div class="row d-flex no-gutters">
			<div class="col-lg align-self-sm-end ftco-animate">
				<div class="testimony">
					<blockquote>
						<p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an
							almost unorthographic life One day however a small.&rdquo;</p>
					</blockquote>
					<div class="author d-flex mt-4">
						<div class="image mr-3 align-self-center">
							<img src="{{ url_for('static', filename='images/person_1.jpg') }}" alt="">
						</div>
						<div class="name align-self-center">Louise Kelly <span class="position">Illustrator
								Designer</span></div>
					</div>
				</div>
			</div>
			<div class="col-lg align-self-sm-end">
				<div class="testimony overlay">
					<blockquote>
						<p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an
							almost unorthographic life One day however a small line of blind text by the name of
							Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
					</blockquote>
					<div class="author d-flex mt-4">
						<div class="image mr-3 align-self-center">
							<img src="{{ url_for('static', filename='images/person_2.jpg') }}" alt="">
						</div>
						<div class="name align-self-center">Louise Kelly <span class="position">Illustrator
								Designer</span></div>
					</div>
				</div>
			</div>
			<div class="col-lg align-self-sm-end ftco-animate">
				<div class="testimony">
					<blockquote>
						<p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an
							almost unorthographic life One day however a small line of blind text by the name.
							&rdquo;</p>
					</blockquote>
					<div class="author d-flex mt-4">
						<div class="image mr-3 align-self-center">
							<img src="{{ url_for('static', filename='images/person_3.jpg') }}" alt="">
						</div>
						<div class="name align-self-center">Louise Kelly <span class="position">Illustrator
								Designer</span></div>
					</div>
				</div>
			</div>
			<div class="col-lg align-self-sm-end">
				<div class="testimony overlay">
					<blockquote>
						<p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an
							almost unorthographic life One day however.&rdquo;</p>
					</blockquote>
					<div class="author d-flex mt-4">
						<div class="image mr-3 align-self-center">
							<img src="{{ url_for('static', filename='images/person_2.jpg') }}" alt="">
						</div>
						<div class="name align-self-center">Louise Kelly <span class="position">Illustrator
								Designer</span></div>
					</div>
				</div>
			</div>
			<div class="col-lg align-self-sm-end ftco-animate">
				<div class="testimony">
					<blockquote>
						<p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an
							almost unorthographic life One day however a small line of blind text by the name.
							&rdquo;</p>
					</blockquote>
					<div class="author d-flex mt-4">
						<div class="image mr-3 align-self-center">
							<img src="{{ url_for('static', filename='images/person_3.jpg') }}" alt="">
						</div>
						<div class="name align-self-center">Louise Kelly <span class="position">Illustrator
								Designer</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}